body {background-color:#D8EBFF; color:#40615F;}

a:link, a:visited {color:#5F7000; text-decoration:underline;}


.pic{
	width:100%;
	text-align:center;
	}

.image {
	color:black;
	text-align:center;
	}

	
.resume{
		border:1px solid black;
		background-color:#BECFE0;
		color:#3D4247;
		width:70%;
		margin: auto; 
		text-align:left; 
		padding:20px;
	}

h3 {font-size:20px;}
	
h4 {font-style:italic;}	
	
.title{		
		border-top:dotted;
	}

